{{define "yield"}}
<section class="hp-main overlay">
    <div class="container v-flex">
        <div class="col-md-5 hp-main-description">
            <h1>Welcome {{.Name}}</h1>
        </div>
    </div>
</section>
{{end}}